.Square {
    background: white;
    float: left;
    height: 34px;
    width: 34px;
    padding: 0;
    text-align: center;
    z-index: 10;
    border: solid 1px #aaaaaa;
    border-radius: 50%;
    margin: 2px;
  }

  .wall {
    border: none !important;
    background-color: white;
  }

  .piece::before {
      content: '☻' ;
      font-size: 1.5rem;
      font-weight: bold;

  }

  .piece {
    color: red;
  }
  
  .selected {
    color: deepskyblue;
  }
  
  .empty {
    
  }
  
  .Square:focus {
    outline: none;
  }